.div__ayuda {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__ayuda {
    padding: 3rem;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 8px;
}
.item__padre__ayuda {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 20px 0px;
}
